:root {
  --color-main: #212121;
  --color-accent: #2196F3;
  --color-secondary: #757575;
  --color-invert: white;
  --color-footer-address: rgba(255, 255, 255, 0.6);
  --background-color-dark: #2F303A;
  --background-color-light: #F5F4FA;
  --background-color-modal: white;
  --background-color-social_footer: rgba(255, 255, 255, 0.1);
  --bachground-color-button-hover: #188CE8;
  --fill-icons: #AFB1B8;
  --font-main: "Roboto";
  --font-logo: "Raleway";
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-main);
  font-family: var(--font-main);
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.backdrop {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0%;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.modal-hidden .modal-window {
  transform: translate(-50%, 100%) scale(0);
}

.modal-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background: var(--background-color-modal);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-window__close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  top: 0%;
  right: 0%;
  width: 30px;
  height: 30px;
  border: solid var(--background-color-light);
  border-radius: 50%;
  background-color: var(--background-color-modal);
  fill: var(--color-main);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window__close-button:hover, .modal-window__close-button:focus {
  fill: var(--color-accent);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-secondary);
  margin-bottom: 4px;
}

.modal-form__line {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--color-main);
  width: 100%;
  height: 40px;
  padding: 12px 12px 12px 42px;
  outline: none;
  margin-bottom: 10px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover, .modal-form__input:focus {
  border: 1px solid var(--color-accent);
}
.modal-form__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal-form__comment {
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--color-main);
  width: 100%;
  height: 120px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__comment:hover, .modal-form__comment:focus {
  border: 1px solid var(--color-accent);
}
.modal-form__comment::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal-form__icon {
  position: absolute;
  left: 0;
  fill: var(--color-main);
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:hover + .modal-form__icon, .modal-form__input:focus + .modal-form__icon {
  fill: var(--color-accent);
}

.modal-form__contract-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__check {
  width: 16px;
  height: 15px;
  border: solid 2px var(--color-main);
  border-radius: 2px;
  display: block;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-form__check-icon {
  fill: var(--color-invert);
}

.modal-form__contract-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}
.modal-form__contract-label::before {
  content: "";
  width: 16px;
  height: 15px;
  border: solid 2px var(--color-main);
  border-radius: 2px;
  margin-right: 9px;
  display: block;
  cursor: pointer;
}

.modal-form__hidden-check:checked + .modal-form__contract-label::before {
  border: solid 2px var(--color-accent);
  background-color: var(--color-accent);
  background-image: url(../images/modal-check.svg);
}

.modal-form__contract-link {
  color: var(--color-accent);
  text-decoration: underline;
  display: inline;
}

.modal-form__button {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__accent {
  color: var(--color-accent);
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--color-accent);
}
.nav__link_active {
  color: var(--color-accent);
  position: relative;
}
.nav__link_active::after {
  content: "";
  background: var(--color-accent);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  fill: var(--color-secondary);
  display: flex;
  gap: 50px;
}

.contacts__thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  fill: var(--color-accent);
  color: var(--color-accent);
}

.button {
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-invert);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: var(--bachground-color-button-hover);
}

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.page-header__logo {
  color: var(--color-main);
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-header__nav {
  margin-right: auto;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: var(--background-color-dark);
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg.jpg);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-invert);
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
}

.skills__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  gap: 30px;
}

.skills__thumb {
  background-color: var(--background-color-light);
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.skills__about {
  color: var(--color-secondary);
}

.whatwedo {
  padding-top: 0;
}

.whatwedo__list {
  display: flex;
  gap: 30px;
}

.whatwedo__box {
  position: relative;
}

.whatwedo__memo-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.whatwedo__memo {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-invert);
}

.team {
  background-color: var(--background-color-light);
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__item {
  background: var(--color-invert);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 90px) / 4);
}

.team__memo-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__member-info {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
  margin-bottom: 16px;
}

.team__social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team__social-link {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--color-accent);
}

.team__social-icon {
  fill: var(--fill-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover .team__social-icon, .team__social-link:focus .team__social-icon {
  fill: var(--color-invert);
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: block;
  border: 1px solid var(--fill-icons);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--color-accent);
}

.clients__icon {
  fill: var(--fill-icons);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--color-accent);
}

.projects__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.projects__filter-buttons {
  padding: 6px 22px 6px 22px;
  background: var(--background-color-light);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__filter-buttons:hover, .projects__filter-buttons:focus {
  background: var(--color-accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-invert);
}

.projects__list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.projects__item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:focus,
.projects__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__description-block {
  padding: 20px 24px 20px 24px;
  background: var(--color-invert);
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.projects__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
}

.projects__item-box {
  position: relative;
  overflow: hidden;
}

.projects__memo {
  color: var(--color-invert);
  display: block;
}

.projects__memo-box {
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  bottom: -100%;
  overflow: hidden;
  position: absolute;
  transition: bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:focus .projects__memo-box,
.projects__link:hover .projects__memo-box {
  bottom: 0;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-dark);
  color: var(--color-invert);
}

.page-footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--color-invert);
}

.address {
  margin-right: 70px;
}

.address__list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__item {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item:not(:first-child) {
  color: var(--color-footer-address);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link:hover, .address__link:focus {
  color: var(--color-accent);
}

.page-footer__social {
  margin-right: 93px;
}

.page-footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.page-footer__social-links {
  display: flex;
  gap: 10px;
}

.page-footer__social-link {
  border-radius: 50%;
  background-color: var(--background-color-social_footer);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__social-link:hover, .page-footer__social-link:focus {
  background-color: var(--color-accent);
}

.page-footer__social-icon {
  fill: var(--color-invert);
}

.page-footer__news-form {
  display: flex;
}

.page-footer__news-mail {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-color-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-invert);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer__news-mail:hover, .page-footer__news-mail:focus {
  border: 1px solid var(--color-accent);
}
.page-footer__news-mail:hover::placeholder, .page-footer__news-mail:focus::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer__news-button {
  gap: 10px;
}

.contacts-page {
  background-color: var(--background-color-light);
}

.contacts-form {
  width: 528px;
}/*# sourceMappingURL=main.css.map */