.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--color-secondary);
    margin-bottom: 4px;
}

.modal-form__line {
    position: relative;
    display: flex;
    flex-direction: column;
}

.modal-form__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--color-main);
    width: 100%;
    height: 40px;
    padding: 12px 12px 12px 42px;
    outline: none;
    margin-bottom: 10px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--color-accent);
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

.modal-form__comment {
    padding: 12px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--color-main);
    width: 100%;
    height: 120px;
    outline: none;
    resize: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        border: 1px solid var(--color-accent);
    }

    &::placeholder {
        color: rgba(0, 0, 0, 0.3);
    }
}

.modal-form__icon {
    position: absolute;
    left: 0;
    fill: var(--color-main);
    top: 11px;
    left: 12px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:hover+&,
    .modal-form__input:focus+& {
        fill: var(--color-accent);
    }
}

.modal-form__contract-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.modal-form__check {
    width: 16px;
    height: 15px;
    border: solid 2px var(--color-main);
    border-radius: 2px;
    display: block;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-form__check-icon {
    fill: var(--color-invert);
}

.modal-form__contract-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--color-secondary);

    &::before {
        content: '';
        width: 16px;
        height: 15px;
        border: solid 2px var(--color-main);
        border-radius: 2px;
        margin-right: 9px;
        display: block;
        cursor: pointer;
    }
}

.modal-form__hidden-check:checked + .modal-form__contract-label::before {
    border: solid 2px var(--color-accent);
    background-color: var(--color-accent);
    background-image: url(../images/modal-check.svg);
}

.modal-form__contract-link {
    color: var(--color-accent);
    text-decoration: underline;
    display: inline;
}

.modal-form__button {
    margin-left: auto;
    margin-right: auto;
}