* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-main);
    font-family: var(--font-main);
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    display: block;
}

button {
    cursor: pointer;
    padding: 0;
    border: none;
    font: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}