:root {
    --color-main: #212121;
    --color-accent: #2196F3;
    --color-secondary: #757575;
    --color-invert: white;

    --color-footer-address: rgba(255, 255, 255, 0.6);

    --background-color-dark: #2F303A;
    --background-color-light: #F5F4FA;
    --background-color-modal: white;
    --background-color-social_footer: rgba(255, 255, 255, 0.1);

    --fill-icons: #AFB1B8;

    --font-main: 'Roboto';
    --font-logo: 'Raleway';
}